trading-agent/workflows/price_feed_yahoo.json
{
  "name": "price_feed_yahoo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cron",
              "expression": "*/15 8-21 * * 1-5"
            }
          ],
          "cron": {
            "node": "Schedule Trigger",
            "timezone": "Europe/Madrid",
            "minute": "*/15",
            "hour": "8-21",
            "dayOfWeek": "1-5"
          }
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "description": "Trigger every 15 minutes, Monday-Friday 08:00-21:00 Europe/Madrid (market hours)"
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v7/finance/quote?symbols=EURUSD=X,GBPUSD=X,USDJPY=X,USDCHF=X,AUDUSD=X,USDCAD=X,NZDUSD=X,EURGBP=X,EURJPY=X,GBPJPY=X,^GSPC,^NDX,^DJI,^VIX,^FTSE,^GDAXI,^N225,ES=F,NQ=F,CL=F,GC=F,SI=F,NG=F,ZC=F,BTC-USD,ETH-USD,SOL-USD,BNB-USD,DX-Y.NYB,^TNX,^TYX,^IRX",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        }
      },
      "id": "node-yahoo-feed-adapter",
      "name": "Yahoo Feed Adapter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 300],
      "description": "CAPA 1 - FEED ADAPTER: Fetches raw market data from Yahoo Finance API for all instruments. Outputs normalized object array.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// CAPA 2 - NORMALIZER: Transform Yahoo response to standard schema\nconst body = $input.first().json.body;\nconst quotes = body?.quoteResponse?.result || [];\n\nconst normalizeSymbol = (symbol) => {\n  return symbol\n    .replace(/=X$/, '')\n    .replace(/=F$/, '')\n    .replace(/-USD$/, '')\n    .replace(/\\^/, '');\n};\n\nconst normalized = quotes.map(q => ({\n  symbol: normalizeSymbol(q.symbol),\n  price: q.regularMarketPrice ?? null,\n  change_pct_1d: q.regularMarketChangePercent ?? 0,\n  high_1d: q.regularMarketDayHigh ?? null,\n  low_1d: q.regularMarketDayLow ?? null,\n  volume: q.regularMarketVolume ?? 0,\n  source: 'yahoo_finance',\n  delay_minutes: 15,\n  timestamp: new Date(q.regularMarketTime * 1000).toISOString(),\n  raw_symbol: q.symbol,\n  currency: q.currency ?? null,\n  market_state: q.marketState ?? 'REGULAR'\n}));\n\nreturn normalized.map(n => ({ json: n }));"
      },
      "id": "node-normalizer",
      "name": "Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "description": "CAPA 2 - NORMALIZER: Transforms Yahoo Finance response to standard price schema. Cleans symbol suffixes (=X, -USD, =F, ^prefix)."
    },
    {
      "parameters": {
        "jsCode": "// CAPA 2b - ENRICH: Add trend indicators and alert levels\nconst instruments = $input.all();\n\nconst getTrend = (changePct) => {\n  if (changePct > 0.1) return 'UP';\n  if (changePct < -0.1) return 'DOWN';\n  return 'FLAT';\n};\n\nconst isForex = (symbol) => {\n  const forexPairs = ['EURUSD', 'GBPUSD', 'USDJPY', 'USDCHF', 'AUDUSD', 'USDCAD', 'NZDUSD', 'EURGBP', 'EURJPY', 'GBPJPY'];\n  return forexPairs.includes(symbol);\n};\n\nconst isIndex = (symbol) => {\n  const indices = ['GSPC', 'NDX', 'DJI', 'VIX', 'FTSE', 'GDAXI', 'N225', 'ES', 'NQ'];\n  return indices.some(i => symbol.includes(i));\n};\n\nconst getAlertLevel = (item) => {\n  const change = Math.abs(item.json.change_pct_1d || 0);\n  const isIdx = isIndex(item.json.symbol);\n  const isFx = isForex(item.json.symbol);\n\n  // ALERT thresholds\n  if (change > 3) return 'ALERT';\n  if (isIdx && change > 3) return 'ALERT';\n  if (isFx && change > 2) return 'ALERT';\n  if (isIdx && change > 2) return 'ALERT';\n\n  // WATCH thresholds\n  if (isFx && change > 1) return 'WATCH';\n  if (isIdx && change > 2) return 'WATCH';\n  if (change > 2) return 'WATCH';\n\n  return 'NORMAL';\n};\n\nconst enriched = instruments.map(item => {\n  const enrichedItem = { ...item.json };\n  enrichedItem.trend_1d = getTrend(enrichedItem.change_pct_1d);\n  enrichedItem.alert_level = getAlertLevel(item);\n  return { json: enrichedItem };\n});\n\nreturn enriched;"
      },
      "id": "node-enrich",
      "name": "Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "description": "CAPA 2b - ENRICH: Add trend_1d (UP/DOWN/FLAT) and alert_level (WATCH/ALERT/NORMAL) based on change thresholds."
    },
    {
      "parameters": {
        "jsCode": "// CAPA 3 - BUILD SNAPSHOT: Human-readable price snapshot\nconst data = $input.all();\nconst now = new Date();\n\nconst formatPrice = (price, decimals = 2) => {\n  if (price == null) return 'N/A';\n  return price.toFixed(decimals);\n};\n\nconst formatChange = (change) => {\n  if (change == null) return '0.00%';\n  const sign = change >= 0 ? '+' : '';\n  return `${sign}${change.toFixed(2)}%`;\n};\n\nconst getAlertIcon = (level) => {\n  if (level === 'ALERT') return '🚨';\n  if (level === 'WATCH') return '⚠️';\n  return '';\n};\n\n// Group by category\nconst forex = data.filter(d => ['EURUSD', 'GBPUSD', 'USDJPY', 'USDCHF', 'AUDUSD', 'USDCAD', 'NZDUSD', 'EURGBP', 'EURJPY', 'GBPJPY'].includes(d.json.symbol));\nconst indices = data.filter(d => ['GSPC', 'NDX', 'DJI', 'FTSE', 'GDAXI', 'N225'].some(i => d.json.symbol.includes(i)));\nconst vix = data.find(d => d.json.symbol === 'VIX');\nconst futures = data.filter(d => ['ES', 'NQ', 'CL', 'GC', 'SI', 'NG', 'ZC'].some(f => d.json.symbol.startsWith(f)));\nconst crypto = data.filter(d => ['BTC', 'ETH', 'SOL', 'BNB'].some(c => d.json.symbol.startsWith(c)));\nconst dxy = data.find(d => d.json.symbol.includes('DX'));\nconst yields = data.filter(d => ['TNX', 'TYX', 'IRX'].some(y => d.json.symbol.includes(y)));\nconst alerts = data.filter(d => d.json.alert_level !== 'NORMAL');\n\nlet snapshot = `SNAPSHOT DE PRECIO — ${now.toLocaleDateString('es-ES')} ${now.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' })} (delay ~15min)\\n\\n`;\n\n// FOREX\nsnapshot += 'FOREX:\\n';\nforex.forEach(f => {\n  const icon = getAlertIcon(f.json.alert_level);\n  snapshot += `• ${f.json.symbol}: ${formatPrice(f.json.price, 4)} (${formatChange(f.json.change_pct_1d)}) H:${formatPrice(f.json.high_1d, 4)} L:${formatPrice(f.json.low_1d, 4)} ${icon}\\n`;\n});\n\n// ALERTAS DE MOVIMIENTO\nif (alerts.length > 0) {\n  snapshot += '\\nALERTAS DE MOVIMIENTO:\\n';\n  alerts.forEach(a => {\n    const icon = getAlertIcon(a.json.alert_level);\n    snapshot += `• ${a.json.symbol}: ${formatPrice(a.json.price)} — movimiento de ${Math.abs(a.json.change_pct_1d).toFixed(1)}% en el día ${icon}\\n`;\n  });\n}\n\n// INDICES & MACRO\nsnapshot += '\\nÍNDICES & MACRO:\\n';\nindices.forEach(i => {\n  snapshot += `• ${i.json.symbol}: ${formatPrice(i.json.price)} (${formatChange(i.json.change_pct_1d)})\\n`;\n});\nif (vix) {\n  const vixLevel = vix.json.price < 15 ? 'LOW' : vix.json.price < 25 ? 'MEDIUM' : 'HIGH';\n  snapshot += `• VIX: ${formatPrice(vix.json.price)} (${vixLevel})\\n`;\n}\nif (dxy) {\n  snapshot += `• DXY: ${formatPrice(dxy.json.price)} (${formatChange(dxy.json.change_pct_1d)})\\n`;\n}\n\n// YIELDS\nif (yields.length > 0) {\n  snapshot += '\\nYIELDS:\\n';\n  yields.forEach(y => {\n    snapshot += `• ${y.json.symbol}: ${formatPrice(y.json.price)}%\\n`;\n  });\n}\n\n// MATERIAS PRIMAS (Futures)\nif (futures.length > 0) {\n  snapshot += '\\nMATERIAS PRIMAS:\\n';\n  futures.forEach(f => {\n    snapshot += `• ${f.json.symbol}: ${formatPrice(f.json.price)} (${formatChange(f.json.change_pct_1d)})\\n`;\n  });\n}\n\n// CRYPTO\nif (crypto.length > 0) {\n  snapshot += '\\nCRYPTO:\\n';\n  crypto.forEach(c => {\n    snapshot += `• ${c.json.symbol}: ${formatPrice(c.json.price)} (${formatChange(c.json.change_pct_1d)})\\n`;\n  });\n}\n\nreturn [{ json: { snapshot, timestamp: now.toISOString() } }];"
      },
      "id": "node-build-snapshot",
      "name": "Build Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "description": "CAPA 3 - BUILD SNAPSHOT: Generates human-readable price snapshot with sections for FOREX, INDICES, YIELDS, COMMODITIES, and CRYPTO. Includes alert icons."
    },
    {
      "parameters": {
        "filePath": "/data/cache/prices_latest.json",
        "options": {}
      },
      "id": "node-store-latest-json",
      "name": "Store Latest JSON",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1.1,
      "position": [1100, 200],
      "description": "Store normalized price data as JSON",
      "continueOnFail": true
    },
    {
      "parameters": {
        "filePath": "/data/cache/prices_snapshot.txt",
        "options": {}
      },
      "id": "node-store-snapshot-txt",
      "name": "Store Snapshot TXT",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1.1,
      "position": [1100, 400],
      "description": "Store human-readable snapshot as TXT",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Filter only WATCH and ALERT items\nconst data = $input.all();\nconst alerts = data.filter(d => d.json.alert_level !== 'NORMAL');\nreturn alerts;"
      },
      "id": "node-filter-alerts",
      "name": "Filter Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500],
      "description": "Filter items with alert_level WATCH or ALERT"
    },
    {
      "parameters": {
        "filePath": "/data/cache/prices_alerts.json",
        "options": {}
      },
      "id": "node-store-alerts-json",
      "name": "Store Alerts JSON",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1.1,
      "position": [1100, 500],
      "description": "Store only alerts (WATCH/ALERT) as JSON",
      "continueOnFail": true
    },
    {
      "parameters": {
        "path": "prices",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode",
        "responseData": "firstEntryJson"
      },
      "id": "node-webhook-prices",
      "name": "Webhook /prices",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [1300, 300],
      "description": "GET /webhook/prices → Returns complete snapshot (human-readable)",
      "webhookId": "prices-snapshot"
    },
    {
      "parameters": {
        "path": "prices-raw",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode",
        "responseData": "firstEntryJson"
      },
      "id": "node-webhook-prices-raw",
      "name": "Webhook /prices-raw",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [1300, 500],
      "description": "GET /webhook/prices-raw → Returns normalized JSON array",
      "webhookId": "prices-raw"
    },
    {
      "parameters": {
        "path": "prices-alerts",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode",
        "responseData": "firstEntryJson"
      },
      "id": "node-webhook-prices-alerts",
      "name": "Webhook /prices-alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [1300, 700],
      "description": "GET /webhook/prices-alerts → Returns only WATCH/ALERT items",
      "webhookId": "prices-alerts"
    },
    {
      "parameters": {
        "path": "price",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode",
        "responseData": "firstEntryJson",
        "properties": {
          "parameters": {
            "values": {
              "path": "symbol"
            }
          }
        }
      },
      "id": "node-webhook-price-symbol",
      "name": "Webhook /price/{symbol}",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [1300, 900],
      "description": "GET /webhook/price/{symbol} → Returns price for specific symbol",
      "webhookId": "price-symbol"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/price-alert",
        "options": {
          "timeout": 10000
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "change_pct_1d",
              "value": "={{ $json.change_pct_1d }}"
            },
            {
              "name": "alert_level",
              "value": "={{ $json.alert_level }}"
            },
            {
              "name": "trend_1d",
              "value": "={{ $json.trend_1d }}"
            }
          ]
        }
      },
      "id": "node-alert-webhook",
      "name": "Alert Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 700],
      "description": "POST to /webhook/price-alert when alert_level = ALERT",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Respond with the snapshot text\nconst snapshotData = $('Build Snapshot').first().json;\nreturn [{ json: { snapshot: snapshotData.snapshot, timestamp: snapshotData.timestamp } }];"
      },
      "id": "node-respond-prices",
      "name": "Respond /prices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "description": "Return snapshot data for /prices webhook"
    },
    {
      "parameters": {
        "jsCode": "// Respond with raw normalized data\nconst allData = $('Enrich').all();\nreturn allData;"
      },
      "id": "node-respond-prices-raw",
      "name": "Respond /prices-raw",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500],
      "description": "Return normalized JSON array for /prices-raw webhook"
    },
    {
      "parameters": {
        "jsCode": "// Respond with filtered alerts only\nconst alertsData = $('Filter Alerts').all();\nreturn alertsData;"
      },
      "id": "node-respond-prices-alerts",
      "name": "Respond /prices-alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 700],
      "description": "Return alerts only for /prices-alerts webhook"
    },
    {
      "parameters": {
        "jsCode": "// Respond with specific symbol data\nconst symbol = $('Webhook /price/{symbol}').first().json.query?.symbol || $('Webhook /price/{symbol}').first().json.symbol;\nconst allData = $('Enrich').all();\nconst found = allData.find(d => d.json.symbol.toUpperCase() === (symbol || '').toUpperCase());\nreturn found ? [found] : [{ json: { error: 'Symbol not found', symbol } }];"
      },
      "id": "node-respond-price-symbol",
      "name": "Respond /price/{symbol}",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 900],
      "description": "Return specific symbol price for /price/{symbol} webhook"
    },
    {
      "parameters": {
        "jsCode": "// Route ALERT items to alert webhook\nconst allData = $('Enrich').all();\nconst alertItems = allData.filter(d => d.json.alert_level === 'ALERT');\nreturn alertItems;"
      },
      "id": "node-filter-alert-items",
      "name": "Filter Alert Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 700],
      "description": "Filter only ALERT level items for external webhook notification"
    },
    {
      "parameters": {
        "jsCode": "// Merge snapshot text into a file-compatible format\nconst snapshotNode = $('Build Snapshot').first().json;\nreturn [{ json: { text: snapshotNode.snapshot, timestamp: snapshotNode.timestamp } }];"
      },
      "id": "node-prepare-snapshot-txt",
      "name": "Prepare Snapshot TXT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400],
      "description": "Prepare snapshot text for file storage"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for latest JSON storage\nconst allData = $('Enrich').all();\nreturn [{ json: { prices: allData.map(d => d.json), timestamp: new Date().toISOString() } }];"
      },
      "id": "node-prepare-latest-json",
      "name": "Prepare Latest JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "description": "Prepare data for latest JSON storage"
    },
    {
      "parameters": {
        "jsCode": "// Prepare alerts JSON\nconst alertsData = $('Filter Alerts').all();\nreturn [{ json: { alerts: alertsData.map(d => d.json), timestamp: new Date().toISOString() } }];"
      },
      "id": "node-prepare-alerts-json",
      "name": "Prepare Alerts JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500],
      "description": "Prepare alerts data for JSON storage"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Yahoo Feed Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Feed Adapter": {
      "main": [
        [
          {
            "node": "Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizer": {
      "main": [
        [
          {
            "node": "Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich": {
      "main": [
        [
          {
            "node": "Build Snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Latest JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Alert Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Snapshot": {
      "main": [
        [
          {
            "node": "Prepare Snapshot TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Latest JSON": {
      "main": [
        [
          {
            "node": "Store Latest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Snapshot TXT": {
      "main": [
        [
          {
            "node": "Store Snapshot TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Alerts": {
      "main": [
        [
          {
            "node": "Prepare Alerts JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alerts JSON": {
      "main": [
        [
          {
            "node": "Store Alerts JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Alert Items": {
      "main": [
        [
          {
            "node": "Alert Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook /prices": {
      "main": [
        [
          {
            "node": "Respond /prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond /prices": {
      "main": [
        []
      ]
    },
    "Webhook /prices-raw": {
      "main": [
        [
          {
            "node": "Respond /prices-raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond /prices-raw": {
      "main": [
        []
      ]
    },
    "Webhook /prices-alerts": {
      "main": [
        [
          {
            "node": "Respond /prices-alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond /prices-alerts": {
      "main": [
        []
      ]
    },
    "Webhook /price/{symbol}": {
      "main": [
        [
          {
            "node": "Respond /price/{symbol}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond /price/{symbol}": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "trading"
    },
    {
      "name": "prices"
    },
    {
      "name": "yahoo-finance"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "1.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "templateId": null
  },
  "palette": {
    "defaults": {
      "borderColor": "#999999",
      "accentColor": "#ff0000"
    }
  },
  "properties": {
    "name": "price_feed_yahoo",
    "description": "Module 8 - Market Prices from Yahoo Finance. Feed-agnostic architecture with normalized output schema.",
    "icon": "file:price_feed_yahoo.svg"
  }
}
